@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: open-sans;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
  font-weight: 300;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');

@font-face {
  font-family: open-sans-condensed;
  src: url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');
  font-weight: 300;
}


$open-sans: 'Open Sans', sans-serif;
$open-sans-condensed: 'Open Sans Condensed',sans-serif;

body {
  font-family: $open-sans-condensed;
}

h1 {
  font-size: 2.188rem;
  font-family: $open-sans-condensed;
  font-weight: bold;
  line-height: 2.3rem;
  color: $orange;
  background: url('../img/envelope.svg') center 0 no-repeat;
  padding-top: 4.5rem;
}

h2 {
  font-family: $open-sans-condensed;
  font-size: 1rem;
  color: $darkBlue;
}

p {
  font-family: $open-sans-condensed;
  font-size: 0.875rem;
  color: $darkBlue;
  line-height: 1.2rem;
}

.btn {
  font-family: $open-sans-condensed;
  background-color: $orange;
  border: none;
  box-shadow: none;
  border-radius: 25px;
  width: 9.875rem;
  height: 1.688rem;
  font-size: 0.75rem;

  &:hover, &:active, &:focus {
    background-color: $darkBlue !important;
  }
}